@import "tailwindcss";


:root {
  --background: #051f29;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #051f29;
    --foreground: #ededed;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}
 
*::-webkit-scrollbar-track {
}
 
*::-webkit-scrollbar-thumb {
  background-color: #0f4054;
  border-radius: 5px;
}

/* header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
} */


.banner-swiper .swiper .swiper-slide{
  border : 2px solid #0b3546;
  border-radius: 10px;
}

.banner-swiper .swiper .swiper-slide-active{
  border : 2px solid #3cd293;
  border-radius: 10px;
}

.common-swiper .swiper-button-next,
.common-swiper .swiper-button-prev {
    padding: 10px;
    color: #3cd293 !important;
    fill: #3cd293 !important;
    stroke: #c4ffe6 !important;
}

.common-swiper .swiper-button-next::after,
.common-swiper .swiper-button-prev::after {
    font-size: 1rem !important;
}